services:
  discord-bot:
      build: .
      image: tom0827/clash-bot:latest
      container_name: clash-bot
      depends_on:
        - mongodb
      env_file:
        - .env
      restart: unless-stopped

  mongodb:
    image: mongo:latest
    container_name: mongodb
    restart: unless-stopped
    ports:
      - 27017:27017
    volumes:
      - mongodb_data:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${DB_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${DB_PASSWORD}

volumes:
  mongodb_data: