name: Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Deployment
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Log in to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and Push Docker Image
      run: |
        docker build -t ${{ secrets.DOCKER_USERNAME }}/clash-bot:latest .
        docker push ${{ secrets.DOCKER_USERNAME }}/clash-bot:latest

    - name: Copy docker compose and deploy to VPS
      env:
        SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
        VPS_HOST: ${{ secrets.VPS_HOST }}
        VPS_USER: ${{ secrets.VPS_USER }}
      run: |
        echo "$SSH_PRIVATE_KEY" > ssh_key
        chmod 600 ssh_key

        # Copy docker-compose.yml to VPS
        scp -i ssh_key -o StrictHostKeyChecking=no docker-compose.yml $VPS_USER@$VPS_HOST:/home/clash-bot/

        # SSH and deploy with docker-compose
        ssh -T -i ssh_key -o StrictHostKeyChecking=no $VPS_USER@$VPS_HOST << EOF
        cd /home/clash-bot
        sudo docker pull ${{ secrets.DOCKER_USERNAME }}/clash-bot:latest
        
        # Stop and remove existing containers first
        sudo docker stop clash-bot mongodb || true
        sudo docker rm clash-bot mongodb || true
        
        sudo docker compose down || true
        sudo docker compose up -d