name: Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Deployment
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Log in to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and Push Docker Image
      run: |
        docker build -t ${{ secrets.DOCKER_USERNAME }}/clash-bot:latest .
        docker push ${{ secrets.DOCKER_USERNAME }}/clash-bot:latest

    - name: SSH into server and start container
      env:
        SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
        VPS_HOST: ${{ secrets.VPS_HOST }}
        VPS_USER: ${{ secrets.VPS_USER }}
      run: |
        echo "$SSH_PRIVATE_KEY" > ssh_key
        chmod 600 ssh_key

        ssh -T -i ssh_key -o StrictHostKeyChecking=no $VPS_USER@$VPS_HOST << EOF
        sudo docker pull $DOCKER_USERNAME/clash-bot:latest
        sudo docker stop clash-bot || true
        sudo docker rm clash-bot || true
        sudo docker run -d --name clash-bot $DOCKER_USERNAME/clash-bot:latest
        EOF

        rm -f ssh_key